@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-color: #000000;
    --background-color: #ffffff;
    --background-start-color: #d6dbdc;
    --background-end-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-color: #ffffff;
        --background-color: #1d1d1d;
        --background-start-color: #202020;
        --background-end-color: #202020;
    }
}

body {
    color: var(--foreground-color);
    background: var(--background-color);
    /* background: linear-gradient(to bottom,
            transparent,
            var(--background-end-color)) var(--background-start-color); */
}