.codeText {
    font-family: "JetBrains Mono", Menlo, Consolas, Monaco, monospace;
}

.code {
    position: relative;
    padding: 8px 8px 8px 52px;
    font-family: "JetBrains Mono", Menlo, Consolas, Monaco, monospace;
}

.code:before {
    content: attr(data-gutter);
    position: absolute;
    left: 0;
    top: 0;
    padding: 8px;
    color: #888;
    white-space: pre-wrap;
    text-align: right;
    min-width: 25px;
}

.hr {
    padding: 2px 2px;
    border: none;
    margin: 1em 0;
    cursor: pointer;
}

.hr:after {
    content: '';
    display: block;
    height: 2px;
    background-color: #ccc;
    line-height: 2px;
}

.hr.selected {
    outline: 2px solid rgb(60, 132, 244);
    user-select: none;
}